@model SportApp.Models.Student

@{
    ViewData["Title"] = "Brisanje";
}

<h2>Brisanje</h2>

<h3>Jeste li sigurni da želite obrisati ipitanika?</h3>
<div>
    <hr />
    <dl class="">
        <div class="row">
            <div class="col-sm-12">
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Spol)
                </dt>
                <dd class="col-sm-4">
                    @Html.DisplayFor(model => model.Spol.NazivSpola)
                </dd>
                <br>
                <br>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Ime)
                </dt>
                <dd class="col-sm-4">
                    @Html.DisplayFor(model => model.Ime)
                </dd>
                <br>
                <br>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Prezime)
                </dt>
                <dd class="col-sm-4">
                    @Html.DisplayFor(model => model.Prezime)
                </dd>
                <br>
                <br>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.SifraStudent)
                </dt>
                <dd class="col-sm-4">
                    @Html.DisplayFor(model => model.SifraStudent)
                </dd>
                <br>
                <br>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.StudentDatum)
                </dt>
                <dd class="col-sm-4">
                    @Html.DisplayFor(model => model.StudentDatum)
                </dd>
                <br>
                <br>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.StudentMjesto)
                </dt>
                <dd class="col-sm-4">
                    @Html.DisplayFor(model => model.StudentMjesto)
                </dd>
                <br>
                <br>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.GodinaMajka)
                </dt>
                <dd class="col-sm-4">
                    @Html.DisplayFor(model => model.GodinaMajka)
                </dd>
                <br>
                <br>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.GodinaOtac)
                </dt>
                <dd class="col-sm-4">
                    @Html.DisplayFor(model => model.GodinaOtac)
                </dd>
                <br>
                <br>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.SportMajka)
                </dt>
                <dd class="col-sm-4">
                    @Html.DisplayFor(model => model.SportMajka)
                </dd>
                <br>
                <br>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.SportOtac)
                </dt>
                <dd class="col-sm-4">
                    @Html.DisplayFor(model => model.SportOtac)
                </dd>
                <br>
                <br>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.KojiSportMajka)
                </dt>
                <dd class="col-sm-4">
                    @Html.DisplayFor(model => model.KojiSportMajka)
                </dd>
                <br>
                <br>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.KojiSportOtac)
                </dt>
                <dd class="col-sm-4">
                    @Html.DisplayFor(model => model.KojiSportOtac)
                </dd>
                <br>
                <br>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.SportStudent)
                </dt>
                <dd class="col-sm-4">
                    @Html.DisplayFor(model => model.SportStudent)
                </dd>
                <br>
                <br>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.KojiSportStudent)
                </dt>
                <dd class="col-sm-4">
                    @Html.DisplayFor(model => model.KojiSportStudent)
                </dd>
                <br>
                <br>

                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Trajanje)
                </dt>
                <dd class="col-sm-4">
                    @Html.DisplayFor(model => model.Trajanje)
                </dd>
                <br>
                <br>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Istovremeno)
                </dt>
                <dd class="col-sm-4">
                    @Html.DisplayFor(model => model.Istovremeno)
                </dd>
            </div>
        </div>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="StudentId" />
        <input type="submit" value="Obriši" class="btn btn-default" /> |
        <a asp-action="Index">Povratak na listu</a>
    </form>
</div>
