@model SportApp.Models.Student

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Spol)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Spol.NazivSpola)
        </dd>
        <br>
        <dt>
            @Html.DisplayNameFor(model => model.Ime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ime)
        </dd>
        <br>
        <dt>
            @Html.DisplayNameFor(model => model.Prezime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Prezime)
        </dd>
        <br>
        <dt>
            @Html.DisplayNameFor(model => model.SifraStudent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SifraStudent)
        </dd>
        <br>
        <dt>
            @Html.DisplayNameFor(model => model.StudentDatum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentDatum)
        </dd>
        <br>
        <dt>
            @Html.DisplayNameFor(model => model.StudentMjesto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentMjesto)
        </dd>
        <br>
        <dt>
            @Html.DisplayNameFor(model => model.GodinaMajka)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GodinaMajka)
        </dd>
        <br>
        <dt>
            @Html.DisplayNameFor(model => model.GodinaOtac)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GodinaOtac)
        </dd>
        <br>
        <dt>
            @Html.DisplayNameFor(model => model.SportMajka)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SportMajka)
        </dd>
        <br>
        <dt>
            @Html.DisplayNameFor(model => model.SportOtac)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SportOtac)
        </dd>
        <br>
        <dt>
            @Html.DisplayNameFor(model => model.KojiSportMajka)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.KojiSportMajka)
        </dd>
        <br>
        <dt>
            @Html.DisplayNameFor(model => model.KojiSportOtac)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.KojiSportOtac)
        </dd>
        <br>
        <dt>
            @Html.DisplayNameFor(model => model.SportStudent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SportStudent)
        </dd>
        <br>
        <dt>
            @Html.DisplayNameFor(model => model.KojiSportStudent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.KojiSportStudent)
        </dd>
        <br>
        <dt>
            @Html.DisplayNameFor(model => model.Trajanje)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Trajanje)
        </dd>
        <br>
        <dt>
            @Html.DisplayNameFor(model => model.Istovremeno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Istovremeno)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="StudentId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
