@model IEnumerable<SportApp.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h2>Ispitanici</h2>

<p>
    <a asp-action="Create">Dodaj ispitanika</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Spol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prezime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SifraStudent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentDatum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentMjesto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Spol.NazivSpola)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prezime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SifraStudent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentDatum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentMjesto)
            </td>
            <td style="font-size:115%!important">
                <a asp-action="Edit" asp-route-id="@item.StudentId">Izmjena</a> |
                <a asp-action="Details" asp-route-id="@item.StudentId">Detalji</a> |
                <a asp-action="Delete" asp-route-id="@item.StudentId">Obriši</a>   |
                <a asp-action="Create" asp-controller="Testiranjes" asp-route-id="@item.StudentId">Dodaj testiranje</a>

            </td>
        </tr>
}
    </tbody>
</table>
