@model IEnumerable<SportApp.Models.Testiranje>

@{
    ViewData["Title"] = "Index";
}

<h2>Lista svih testiranja</h2>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DatumTest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Razred)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DatumTest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.Ime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Razred.BrojRazred)
        </td>
        <td>
            @*<a asp-action="Edit" asp-route-id="@item.TestiranjeId">Edit</a> |*@
            <a asp-action="Details" asp-route-id="@item.TestiranjeId">Detalji</a> |
            <a asp-action="Create" asp-controller="Tests" asp-route-id="@item.TestiranjeId">Dodaj rezultate</a>
        </td>
    </tr>
    
}
    </tbody>
</table>
<div class="row" style="border-top:1px solid gray;">
    <div class="col-md-12">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <br>
            <button class="bg-info" style="font-size:110%!important;"><a asp-action="Index" asp-controller="Students">Povratak na listu ispitanika
</a></button>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>
        
